@font-face {
  font-family: "SofiaPro-Regular";
  src: url("../fonts/SofiaPro-Regular.woff2") format("woff2"),
    url("../fonts/SofiaPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SofiaPro-Bold";
  src: url("../fonts/SofiaPro-Bold.woff2") format("woff2"),
    url("../fonts/SofiaPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
